* {
  box-sizing: border-box;

}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}
p {
  margin: 80px;
}
#hero{
  width: 100%;
  height: 200px;
  background-image: url("../images/02-hero-bg.jpg" );
  background-size:cover; 
  display:flex;
  justify-content: space-between;
color:white;
}

#nav {
  display:flex;
}

#nav li {
  margin-left:50px; 
}


img {
  height:200px;
  width:200px;


}

.pagewrapper{
max-width:88%;
margin-left: auto;
margin-right: auto;
}

.pagesection {
  margin:25px 2%;
  padding:10px 0;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.pagesection > h2{
flex:0 0 20%;
text-align: right;
padding-right: 15px;
border-right: 4px solid black;
font-size: 4vw;
line-height: 1.1;
}

.pagesection > div{
flex:0 0 77%;
}

.pagesection p {
margin-bottom: 20px;
}

.gridcontainer {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;


}

.flex-item {
  border:5px solid black;
  /* background-color: aqua; */
  color: black;
  min-height: 150px;
  max-height: 150px;
  /* min-width: 400px; */
  flex-basis: calc(50%-1em);
  display:flex;
  align-items: flex-end;
  padding:0 0 20px 0;
  margin: 0.5em;
  text-decoration: none;
  background-blend-mode: soft-light;
  background-size: 100%;
  transition: all 0.5s;
  font-size: 0.9rem;

}
.workone {
  min-height: 350px;
  flex-basis: 100%;
  background-image: url("../images/02-portfolio-4.jpg");

}
.worktwo {
  
  flex-basis: 48%;
  background-image: url("../images/02-portfolio-1.jpg");

}
.workthree {

  flex-basis: 48%;
  background-image: url("../images/02-portfolio-3.jpg");
}
.workfour {
  
  flex-basis: 48%;
  background-image: url("../images/02-portfolio-2.jpg");
}
.workfive{
  
  flex-basis: 48%;
  background-image: url("../images/02-run-buddy.jpg");
}
.flex-item:hover {
  background-color: rgba(0,0,0,0.3);
}
.flex-item div{
  background-color: beige;
  padding:8px 10px;
}

.flex-item h3 {
  font: size 1.6rem;
}
 .contactlink {

display:flex;
margin-left: 79%;
justify-content:space-between;
}  
 
