* {
  box-sizing: border-box;

}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

  /* .border {
 
  
  display:flex;
  margin: 25px;
  border-bottom:solid; */

/* footer {
  height: 100px;
  width: 100%;
  line-height: 60px;
  background-color: #266150;
} */
p {
  margin: 80px;
}
#hero{
  width: 100%;
  height: 200px;
  background-image: url("../images/02-hero-bg.jpg" );
  background-size:cover; 
  display:flex;
  justify-content: space-between;

}

#nav {
  display:flex;
}

#nav li {
  margin-left:50px; 
}


img {
  height:200px;
  width:200px;


}
.grid.container {
margin: 170px;
display: flex;
row-gap: 25px;
column-gap: 198px;
flex-wrap: wrap-reverse;
flex-shrink: 3;

}



/* #test {
  color: red;
}

:hover #test{
  color: yellow;
}



.contactlink {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  padding: 10px;
  display:
 
} */
 
